<doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>sup annie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
        <!-- <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h1>404 error</h1>
        <h3>no lyrics here</h3>
    
        <div id="loginbtn">
            <a class="btn btn-sm btn-green" href="/">
                Main Page
            </a>
        </div>
    
    </body>
    </html>