<!DOCTYPE html>
<head>
   <title>Spotify Lyrics</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/static/css/style-v1.css"> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="/static/js/lyrics-v1.js"></script>
</head>
 <html>
   <body>
      <div id="trackContainer">
         <h1 id="scriptTrack"></h1>
         <h3 id="scriptArtist"></h3>
      </div>
       <div id="lyricContainer">
         <h4 id="lyricHead">Lyrics:</h4>
         <p id="lyricBody"></p>
         <a id="link" target="_blank"></a>
      </div>

      <div class="footer">
            <a class="btn btn-sm btn-gray-darker" href="/logout">
               Logout
           </a>
         <br />
         <a id="github" href="https://github.com/foosiee/Spotify-Lyrics" target="_blank">
             <p id="github">View on GitHub</p>
         </a>
     </div>

   </body>
</html> 